/* 診断ボタン */
.start {
  display: flex;
  padding: 10px 30px;
  margin: 40px auto;
  background-color: darkcyan;
  opacity: 0.8;
  color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
}

/* スライドショー */
.slide-show {
  width: auto;
  height: 600px;
  display: relative;
}

.sample {
  display: relative;
}

.sample img {
  display: none;
  width: 80%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  filter: drop-shadow(0 0 10px black);
}

/* スライドショー上の文字 */
.top {
  position: absolute;
  font-size: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(transparent 60%, rgba(255, 255, 255, 0.541) 60%);
  font-weight: bold;
  color: white;
  top: 250px;
  left: 350px;
  opacity: 0;
}

.letter {
  opacity: 0;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  display: inline;
}

/* はねる箱 */
/* .type-textbound {
  background-color: teal;
  width: 20px;
  height: 100px;
  margin: auto;
  animation: squash 1s ease-in-out infinite;
} */

html,
body {
  height: 700px;
}
body {
  width: 100%;
  margin: 0 auto;
  font-size: 16px;
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo,
    "メイリオ", Osaka, "MS PGothic", arial, helvetica, sans-serif;
  /* 文字詰め */
  font-feature-settings: "pwid" 1;
  /* 文字の滑らかさ */
  -webkit-font-smoothing: subpixel-antialiased;
  /* 主要ブラウザのベンダープレフィックス
-moz-　　…… Firefox
-webkit-　…… Google Chrome、Safari
-o-　　　　…… Opera
-ms-　　　…… Internet Explorer */
  -moz-osx-font-smoothing: unset;
  -webkit-text-size-adjust: 100%;
  /* ブラウザー（optimizeLegibility）は速さや位置の正確さよりも、読みやすさを強調します。カーニングを有効にし、合字は任意です。 */
  text-rendering: optimizeLegibility;
  /* テキストを行ボックスないに収める */
  word-wrap: break-word;
  color: #3f515e;
  background: #e3edf7;
  /* http://www.htmq.com/css/overflow-y.shtml */
  overflow-y: scroll;
  /* 値がhidden 内容がボックスに収まらない場合、収まらない部分は非表示となる。内容が収まらない場合にも、スクロールバーなどは表示され */
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
a,
p,
span,
div,
li,
ul,
h1,
h2 {
  display: block;
  box-sizing: border-box;
  /* その環境にあったフォントの調節プロパティ */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
img {
  max-width: 100%;
  /* インラインボックス、インラインブロック、表セルボックスの垂直方向の配置を設定 */
  vertical-align: top;
}
li {
  /* liの一括指定 */
  list-style: none;
}
a {
  /* テキストの装飾を指定するプロパティ */
  text-decoration: none;
  color: #47a7ff;
  /* CSS プロパティが変化する際のアニメーションの速度を操作する手段を提供 */
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}
a:hover {
  opacity: 0.6;
}

/* theme */
.progress-bar {
  /* 要素の位置を固定する */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  margin: 0 auto;
}
.progress-bar > span {
  width: 0%;
  height: 100%;
  background: rgba(190, 204, 219, 0.2);
  background: #47a7ff;
  -webkit-transition: 0.7s 0.2s cubic-bezier(0.5, 1, 0.89, 1);
  transition: 0.7s 0.2s cubic-bezier(0.5, 1, 0.89, 1);
}
header {
  position: relative;
  padding: 64px 30px 35px;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}
header > h1 {
  font-size: 23px;
}
header > p {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.7;
  line-height: 1.4;
  margin: 5px auto 0;
}

main {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
.questions {
  padding: 0 30px;
  height: 200px;
}
.questions > li {
  font-size: 15px;
  width: 100%;
  margin: 0;
  padding: 30px 28px;
  border-radius: 14px;
  box-shadow: 7px 7px 12px -2px rgba(161, 183, 205, 0.5),
    -5px -5px 8px -2px rgba(255, 255, 255, 0.9),
    10px 10px 32px -3px rgba(161, 183, 205, 0.15) inset,
    -6px -6px 22px -13px rgba(255, 255, 255, 0.6) inset;
  -webkit-transition: 0.5s cubic-bezier(0.65, 0, 0.35, 1);
  transition: 0.5s cubic-bezier(0.65, 0, 0.35, 1);
  opacity: 0;
}
.questions > li > p {
  font-size: 12px;
  font-weight: bold;
  opacity: 0.4;
  margin-bottom: 1px;
}
.questions > li .last-q {
  text-align: center;
  font-size: 17px;
  opacity: 1;
}
.questions > li > h2 {
  font-size: 17px;
}
.questions > li .select {
  margin: 18px 0 10px;
}
.questions > li .select > p {
  font-size: 15px;
  margin-bottom: 12px;
  padding: 12px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  vertical-align: top;
  box-shadow: 2px 2px 6px 1px rgba(161, 183, 205, 0.6), -1px -1px 5px 2px white,
    10px 10px 32px -3px rgba(161, 183, 205, 0.15) inset,
    -6px -6px 22px -13px rgba(255, 255, 255, 0.6) inset;
}
.questions > li .select > p:hover {
  background: #47a7ff;
  color: #fff;
  -webkit-transition: 0.2s cubic-bezier(0.5, 1, 0.89, 1);
  transition: 0.2s cubic-bezier(0.5, 1, 0.89, 1);
}
.questions > li .back-list {
  margin: 4px 0 0;
  display: inline-block;
  padding: 4px 8px;
  color: #47a7ff;
  cursor: pointer;
  -webkit-transition: 0.2s cubic-bezier(0.5, 1, 0.89, 1);
  transition: 0.2s cubic-bezier(0.5, 1, 0.89, 1);
}
.questions > li .back-list:hover {
  opacity: 0.6;
}
.questions > li .send {
  position: relative;
  margin: 18px auto 10px;
  max-width: 240px;
}
.questions > li .send > a {
  color: #fff;
  background: #47a7ff;
  font-size: 15px;
  margin-bottom: 12px;
  padding: 12px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 2px 2px 6px 1px rgba(161, 183, 205, 0.6), -1px -1px 5px 2px white,
    10px 10px 32px -3px rgba(161, 183, 205, 0.15) inset,
    -6px -6px 22px -13px rgba(255, 255, 255, 0.6) inset;
  -webkit-transition: 0.2s cubic-bezier(0.5, 1, 0.89, 1);
  transition: 0.2s cubic-bezier(0.5, 1, 0.89, 1);
}
.ansewer {
  margin: 0 30px;
  font-size: 18px;
  padding: 30px 28px;
  border-radius: 14px;
  box-shadow: 7px 7px 12px -2px rgba(161, 183, 205, 0.5),
    -5px -5px 8px -2px rgba(255, 255, 255, 0.9),
    10px 10px 32px -3px rgba(161, 183, 205, 0.15) inset,
    -6px -6px 22px -13px rgba(255, 255, 255, 0.6) inset;
  -webkit-transition: 0.5s cubic-bezier(0.65, 0, 0.35, 1);
  transition: 0.5s cubic-bezier(0.65, 0, 0.35, 1);justify
  /* 均等割付。最後の行についてはtext-align-lastプロパティの
  指定がない限り、ラインボックスの始端に揃えられる */
  text-align: justify;
}
.ansewer > p {
  font-size: 14px;
  font-weight: bold;
  margin: 16px 0 14px;
}
.back {
  margin: 30px 30px 0;
}
.back a {
  display: inline-block;
}

footer > p {
  font-size: 14px;
  text-align: center;
  margin: 80px 0 40px;
}

/* state */
.left {
  margin-left: -200% !important;
  opacity: 0;
}
.right {
  margin-left: 200% !important;
  opacity: 0;
}
.opas {
  opacity: 1 !important;
}
.click {
  -webkit-animation: click 0.6s linear;
  animation: click 0.6s linear;
}
/* @keyframes は、アニメーション開始から終了するまでどのようなアニメーションをするのか指定 */
@keyframes click {
  0% {
    /* transformプロパティを使うことで、要素に対して
    移動、回転、伸縮、傾斜の変形を加える */
    transform: scale(1);
  }
  15% {
    transform: scale(0.975);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes click {
  0% {
    -webkit-transform: scale(1);
  }
  15% {
    -webkit-transform: scale(0.975);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
